<div class="flex-1 flex p-4">
  <div class="place-self-end">
    Dashboard ID: <%= @dashboard.id.inspect %>
    <br>
    Current user ID: <%= current_user.id %>
    <br>
    Params: <pre><%= params.inspect %></pre>
    <br>
    Arguments: <br>
    <%= @card.arguments %>
    <br>
    Range: <%= @card.range %>
    <br>
    Arguments block: <br>
    <%= @card.arguments[:block].call params %>
  </div>
</div>
